<div flex layout style="height:auto;">
  <div flex layout="column" class="makeVisible">
    <div flex-33 layout layout-align="start center" style="">
      <!--<span class="md-body-1">Option:</span>-->
      <md-input-container>
        <label for="qtr">Previous Quarter</label><md-select ng-model="selected.quarter" class="md-no-underline md-body-1" id="qtr" ><md-option ng-repeat="qtr in qtrs" ng-value="qtr" ></md-option></md-select>
      </md-input-container>
    </div>
    <div layout style="background-color: #151194;"><span class="md-subhead" style="color:white;padding: .5rem;">{{ group.title }}</span></div>
    <div style="height:100%;">
      <table class="md-body-1">
        <thead>
        <th style="text-align:left;">Employee</th>
        <th>Current Monthly Status</th>
        <th>Completed Risk Assessments</th>
        <th>Quarterly Requirement</th>
        </thead>
        <tbody >
        <tr ng-repeat="employee in group.employees">
          <td style="text-align:left;"><span>{{ employee.lname }}, {{employee.fname}}</span></td>
          <td> {{employee.status}}</td>
          <td>
            <div layout>
              <div ng-repeat="assessment in employee.assessments" flex layout style="height:100%;">
                  <a class="md-raised md-mini md-primary" layout layout-align="center center" href="#" style=" background-color:#005EB8;border-radius:33px;padding:.2rem;text-decoration:none;height:22px;color:white;">
                    <i class="material-icons" style="font-size:12px;">assessment</i>Mo{{ assessment.month }}
                  </a>
              </div>
            </div>
          </td>
          <td><div ng-if="employee.met"><i class="material-icons" style="color:#77d615;">check</i></div></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
