.hidden {
  display: none;
}

.makeVisible {
  background-color:white;
  width: 100%;
  margin: .2rem .5rem;
  padding: .2rem;
}
table {
  display: table;
  width:100%;

  padding:.5rem;
}
td {

  height:100%;
  background-color: #f9f9f9;
}
td:hover{
  background-color: #e2e2e2;
}
td,th {
  padding: 1rem;
  text-align:center;
}
th {
  background-color: #e2e2e2;
}

th:hover {
  background-color: #f0f0f0;
}
tr:hover {
  background-color: #e2e2e2;
}

.business:hover {
  border:1px solid white;

}



