<div layout layout-align="start center" class="md-padding" style="background-color: rgb(9, 113, 178); color: white; height: 180px;"><span class="md-display-1">Hello, {{ currentUser.email }}</span>
</div>
<div layout="column" class="md-padding" style=" min-height:340px;" md-whiteframe="4">
  <div style="color:#333333;"><h3>App Launcher</h3></div>
  <div layout>
    <md-button ui-sref="portal.riskAssessments.main" layout="column" layout-align="center center" class="md-primary md-raised" style=" width:140px; height:140px;">
      <i class="material-icons" style="font-size:44px">assessment</i>
      <span>Risk</span><span>Assessments</span>
    </md-button>
  </div>
</div>



