<div layout layout-align="center center">
  <div layout layout-align="center" class="md-padding" style="margin-top: 10rem; width: 20rem;" md-whiteframe="2">
    <form name="logIn" ng-submit="login()">
     <div layout="column">
       <md-input-container>
         <label for="email">Email</label>
         <input type="email" id="email" ng-model="user.email">
       </md-input-container>
       <md-input-container>
         <label for="password">Password</label>
         <input type="password" id="password" ng-model="user.password">
       </md-input-container>
     </div>
      <div>
        <md-button class="md-primary md-raised" type="submit" id="sign-in-button">Log In</md-button>
      </div>
    </form>
  </div>
</div>



