<div layout="column" class="md-padding md-body-1">
  <div layout layout-align="space-between">
    <md-button href="" ui-sref="portal.riskAssessment.step3" layout layout-align="start center" class="md-primary">
      <div layout layout-align="center center" style="margin: .5rem;width: 45px; height:45px;border-radius: 100px; border: solid thin grey;">
        <i class="material-icons">arrow_back</i>
      </div> <div>Step 3</div> </md-button>
    <md-button ui-sref="portal.riskAssessment.menu" layout layout-align="start center" class="md-primary" style="text-decoration: none;" ng-disabled="false">
      <div >Complete</div>
      <div layout layout-align="center center" style="margin: .5rem;width: 45px; height:45px;border-radius: 100px; border: none;">
        <i class="material-icons">save</i>
      </div></md-button>
  </div>

</div>

