<div flex layout="column" style="background-color: #D5D6D7;">
  <div layout layout-align="start center" class="" style="padding: 0 20px;"><p class="md-title">Risk Assessments</p></div>
  <div flex="100" layout="row" style="height:100%">
    <section class="md-padding" layout="column" flex="80">
      <div flex="20" md-whiteframe="3" class="" style="width:60%; background-color: white; border-radius: 1%;color:#1557a8;padding:5px;">
        <span class="md-title">Trending Injuries</span>
      </div>

    </section>
    <aside flex="20" layout="column" layout-align="start center" class="" style="color:white;padding: 1rem;">

      <div layout class="" md-whiteframe="4" style="background-color: white;color:#00274e; min-width: 200px; height:200px; border-radius: 1%;padding:5px;">
        <span class="md-subhead">Division 43</span>
      </div>
    </aside>
  </div>
</div>
