
<div flex layout style="height:auto;">
  <div flex layout="column" class="makeVisible">
    <div layout style="background-color: #151194;"><span class="md-subhead" style="color:white;padding: .5rem;">{{ project.title }}</span></div>
    <div style="height:100%;">
      <table>
        <thead>
        <th style="text-align:left;">Group</th>
        <th>Quarterly Requirement</th>
        </thead>
        <tbody >
        <tr ng-repeat="group in groups">
          <td style="text-align:left;"><a href="" ui-sref="portal.riskAssessments.dashboard.group({groupId: group.id})" style="text-decoration:none;">{{ group.title }}</a></td>
          <td>{{ group.percentage | number:0 }}%</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
