<div layout="column" class="md-padding md-body-1">
  <div layout layout-align="space-between">
    <md-button href="" ui-sref="portal.riskAssessment.step1" layout layout-align="start center" class="md-primary">
      <div layout layout-align="center center"
           style="margin: .5rem;width: 45px; height:45px;border-radius: 100px; border: solid thin grey;">
        <i class="material-icons">arrow_back</i>
      </div>
      <div>Step 1</div>
    </md-button>
    <md-button ui-sref="portal.riskAssessment.step3" layout layout-align="start center" class="md-primary"
               style="text-decoration: none;" ng-disabled="false">
      <div>Step 3</div>
      <div layout layout-align="center center"
           style="margin: .5rem;width: 45px; height:45px;border-radius: 100px; border: solid thin grey;">
        <i class="material-icons">arrow_forward</i>
      </div>
    </md-button>
  </div>

  <div layout="column" layout-align="center" style="width:300px;color:darkslategray"> <!--Change screen size-->
    <div layout layout-align="space-between center">
      <div  class="md-headline" style="background-color: darkblue; color:white;padding: .5rem 1rem;margin:1rem;">Step 2</div>
      <div id="display" class="md-title"><strong>00:00</strong></div>
    </div>
    <div style="padding:.5rem;">
    <span class="md-body-1" style="color:blue;">
      <strong>Coaching:</strong> While observing the technician for 30 minutes observe each hazard encountered
      and coach the employee on how to avoid these hazards.
    </span>
    </div>
    <div layout>
      <div style="padding:.5rem;"><span>Employee:</span></div>
      <div style="padding:.5rem;">{{employeeName}}</div>
    </div>
  </div>
</div>

