<div layout="column" class="md-padding md-body-1">
  <div layout layout-align="space-between">
    <md-button ui-sref="portal.riskAssessment.new" layout layout-align="start center" class="md-primary">
      <div layout layout-align="center center" style="margin: .5rem;width: 45px; height:45px;border-radius: 100px; border: solid thin grey;">
        <i class="material-icons">arrow_back</i>
      </div> <div>Employee</div> </md-button>
    <md-button  ui-sref="portal.riskAssessment.step2"  layout layout-align="start center" class="md-primary" style="text-decoration: none;" ng-disabled="false">
      <div >Step 2</div>
      <div layout layout-align="center center" style="margin: .5rem;width: 45px; height:45px;border-radius: 100px; border: solid thin grey;">
        <i class="material-icons">arrow_forward</i>
      </div></md-button>
  </div>

<div layout="column" layout-align="center" style="width:300px;color:darkslategray"> <!--Change screen size-->
  <div layout layout-align="space-between center">
    <div  class="md-headline" style="background-color: darkblue; color:white;padding: .5rem 1rem;margin:1rem;">Step 1</div>
    <!--<div id="display" class="md-title"><strong>00:00</strong></div>-->
  </div>
  <div style="padding:.5rem;">
    <span class="md-body-1" style="color:blue;">
      <strong>Evaluation:</strong> While observing the technician for 30 minutes select each hazard encountered.
    </span>
  </div>
  <div layout>
    <div style="padding:.5rem;"><span>Employee:</span></div>
    <div style="padding:.5rem;">{{employeeName}}</div>
  </div>

  <div layout="column" style="border:solid thin lightgrey;background: whitesmoke;padding:.5rem;margin:1rem;">
    <md-input-container>
      <label for="hazards">Select Hazard</label>
      <md-select ng-model="option" id="hazards">
        <md-option ng-repeat="hazard in hazards" ng-value="hazard">{{hazard}}</md-option>
      </md-select>
    </md-input-container>
    <div layout="column" >
      <span>Employee's reaction was:</span>
    <div layout style="margin:1rem;">
      <md-radio-group ng-model="reaction" class="md-primary">
        <md-radio-button  value="safe" aria-label="Safe">
          Safe
        </md-radio-button>
        <md-radio-button value="unsafe" aria-label="Unsafe">
          At-Risk
        </md-radio-button>
      </md-radio-group>
    </div>
    </div>
    <label for="comments">Comment</label>
    <textarea id="comments" rows="5"></textarea>
    <md-button ng-disabled style="border:solid thin cornflowerblue;">Save Hazard</md-button>
  </div>
  <div layout="column">
    <div>
      <span class="md-subhead">Hazards Identified</span>
    </div>
    <div layout="column" style="border: solid thin grey; padding:.5rem;max-width:300px;margin:1rem;">
      <div layout="column" layout-align="start">
        <div layout layout-align="end">
          <a href="">
            <i class="material-icons" style="color:#e62926;">remove_circle</i>
          </a>
        </div>
        <div layout>
          <div style="margin-right: .5rem;"><strong>Hazard:</strong></div>
          <div>Stairs/Ladders</div>
        </div>
        <div layout>
          <div style="margin-right: .5rem;"><strong>Reaction:</strong></div>
          <div layout>Safe</div>
        </div>
      </div>
      <div layout="column">
        <div style="margin-right: .5rem;"><strong>Comments:</strong></div>
        <div layout style="max-width:300px;padding:.3rem;">
          <span>Employee utilized hand rail while climbing the stairs.</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
