<div layout="column" layout-align="center" style="width:300px;color:darkslategray"> <!--Change screen size-->
  <div layout>
    <div  style="background-color: darkslategrey; color:white;padding: .5rem 1rem;">Step 1</div>
  </div>
  <div style="padding:.5rem;">
    <span class="md-body-1" style="color:darkgoldenrod;">
      While observing the technician for 30 minutes select each hazard encountered.
    </span>
  </div>
  <div layout>
    <div style="padding:.5rem;"><span>Employee:</span></div>
    <div style="padding:.5rem;"> John Lister{{employeeName}}</div>
  </div>
  <div layout>
    <div style="padding:.5rem;">Location:</div>
    <div style="padding:.5rem;"><div>Home Office</div>{{location}}</div>
  </div>
  <div>

  </div>
</div>

